"StartScene"

Circle "Circle"
0,0
1,1
0
-CircleComponent
radius=1

Text "Click"
10,40
1,1
0
-TextComponent
text="Push 'z' to start the collision scene."

Text "Enter"
10,80
-TextComponent
text="Push 'enter' ('return' on Mac) to start the strategy Game"
