ScreenText ScreenText
50, 50
RectTransform
-anchorHorizontal=left
-anchorVertical=top
TextComponent
-text=left top

ScreenText2 ScreenText2
50, 50
RectTransform
-anchorHorizontal=left
-anchorVertical=top
TextComponent
-text=left top